<!--footerFragment 선언-->
<div th:fragment="footerFragment">
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <script src="/js/app/index.js"></script>

<!--            &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--            <script src="/vendor/jquery/jquery.min.js"></script>-->
<!--            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--            &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!--            &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--            <script src="/js/sb-admin-2.min.js"></script>-->
        </body>
    </html>
    <br/>
    <br/>
</div>
