<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <!DOCTYPE HTML>
    <html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>게시판</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    </head>
    <body>
    <br/>
    <br/>
    <h1 style="text-align: center;"><a href="/">게시판</a></h1>
    <div class="col-md-9 mx-auto">
        <!--로그인 기능 영역-->
        <div class="row">
            <div class="col-md-12">
                <div class="text-md-right">
                    <div th:if="${user}">
                        안녕하세요! <span id="user" th:text="${user.getName()}"></span> 님
                        <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                    </div>
                    <div th:unless="${user}">
                        <a href="/auth/login" class="btn btn-secondary" role="button">로그인</a>
                        <a href="/auth/join" class="btn btn-secondary" role="button">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
</div>
