<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<div class="col-md-9 mx-auto">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="content">제목</label>
                <div style="display: flex;">
                    <input type="hidden" th:id="'id'" th:value="${post.id}">
                    <input style="width: 80%" type="text" class="form-control" id="title" th:value="${post.title}" readonly>
                    <input style="width: 20%; margin-left: 10px" type="text" class="form-control" id="author" th:value="${post.author}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <div id="content" th:text="${post.content}"></div>
                <th:block th:each="image : ${postsImages}">
                    <img width="500" th:src="'/files/' + ${image.url}"/>
                </th:block>
            </div>
            <div class="form-group">
                <label for="content" th:text="'조회수 : ' + ${post.view}"></label>
            </div>
            <div class="text-center">
                <button id="recommend" type="button">
                    <span th:text="추천">

                    </span>
                </button>
                <span id="recommendCount" th:text="${post.recommend}"></span>
            </div>
        </form>
        <div class="text-right">
            <a href="/" role="button" class="btn btn-secondary">목록으로</a>
            <th:block th:if="${author}">
                <a th:href="@{'/posts/update/' + ${post.id}}" role="button" class="btn btn-primary">수정하기</a>
                <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
            </th:block>
        </div>
        <br/>
        <br/>
        <!-- 댓글 부분 -->
        <th:block th:if="${comments != null}">
            <div class="card">
                <!-- 댓글 개수 -->
                <div class="card-header bi bi-chat-dots">
                    <span th:if="${comments.size() > 0}" th:text="'댓글 ' + ${comments.size() + '개'}"></span>
                    <span th:unless="${comments.size() > 0}">댓글 0개</span>
                </div>

                <!-- 댓글 리스트 -->
                <ul class="list-group-flush">
                    <!-- 각각의 댓글 항목 -->
                    <li th:each="comment : ${comments}" th:id="'comments-' + ${comment.id}" class="list-group-item">
                    <span>
                        <span style="font-size: small" th:text="${comment.author}"></span>
                        <span style="font-size: xx-small" th:text="${comment.createdDate}"></span>
                    </span>
                        <th:block th:if="${user != null && comment.userId == user.getId()}">
                            <!-- 댓글 수정 버튼 -->
                            <button data-toggle="collapse" th:data-target="'.multi-collapse-' + ${comment.id}" class="badge bi bi-pencil-square">수정</button>
                            <!-- 댓글 삭제 버튼 -->
                            <button th:onclick="'main.commentDelete(' + ${comment.postsId} + ',' + ${comment.id} + ')'" class="badge bi bi-x-square">삭제</button>
                        </th:block>

                        <!-- 댓글 내용 -->
                        <p th:class="'collapse multi-collapse-' + ${comment.id} + ' show'" th:text="${comment.comment}"></p>

                        <!-- 댓글 수정 폼 -->
                        <form th:class="'collapse multi-collapse-' + ${comment.id}" method="post">
                            <input type="hidden" th:id="'id'" th:value="${comment.id}">
                            <input type="hidden" th:id="'postsId'" th:value="${comment.postsId}">
                            <div class="row">
                                <div class="form-group col-10">
                                    <textarea class="form-control" th:id="'comment-content'" rows="3" th:text="${comment.comment}"></textarea>
                                </div>
                                <div class="col-2">
                                    <button type="button" th:id="'btn-comment-update'" class="btn btn-primary"> 수정</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </th:block>
        <!-- comments가 비어있을 때 표시할 내용 -->
        <th:block th:unless="${comments != null}">
            <li class="list-group-item">댓글이 없습니다.</li>
        </th:block>
        <div class="card">
            <div class="card-header bi bi-chat-right-dots">댓글 쓰기</div>

        <!-- 댓글작성 부분 -->
            <form>
                <input type="hidden" id="postsId" th:value="${post.id}">

                <div class="card-body" th:if="${user}">
                    <div class="row">
                        <div class="col-10">
                            <textarea id="comment" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>
                        </div>
                        <div class="col-2 ">
                            <button type="button" id="btn-comment-save" class="btn btn-primary btn"> 등록</button>
                        </div>
                    </div>
                </div>

                <div class="card-body" style="font-size: small" th:unless="${user}">
                    <a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.
                </div>
            </form>
        </div>

    </div>
</div>


<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
