<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<h3 style="text-align: center">게시글 등록</h3>
<br/>
<div class="col-md-9 mx-auto">
    <form enctype="multipart/form-data">
        <label for="postType">게시판</label>
        <div>
            <select name="postType" id="postType">
                <option value="">게시판 선택</option>
                <th:block th:each="postType : ${postTypes}">
                    <option th:value="${postType.name()}"
                            th:text="${postType.title}"
                            >
                    </option>
                </th:block>
            </select>
        </div>
        <label>제목</label>
            <div style="display: flex;" class="form-group">
                <input style="width: 80%" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" th:value="${title}">
                <input style="width: 20%; margin-left: 10px;" type="text" class="form-control" id="author" th:value="${user.getName()}" readonly>
            </div>
        <label>내용</label>
        <div>
            <label>이미지 파일 한개 최대 용량 : 10MB</label>
        </div>
        <div>
            <label>게시글 업로드 이미지 최대 용량 : 30MB</label>
        </div>
            <div class="form-group">
                <textarea id="content" th:value="${content}"></textarea>
            </div>
    </form>
    <script>
        var editor;
        ClassicEditor.create(document.querySelector('#content'), {
            language: "ko",
            ckfinder: {
                uploadUrl: "/api/image/upload",
                withCredentials: true
            },
            // mediaEmbed: {
            //     previewsInData: true,
            //     providers: [
            //         {
            //             name: 'youtube',
            //             url: /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/,
            //             html: match => {
            //                 const id = match[1];
            //                 return (
            //                     '<div style="position: relative; padding-bottom: 56.25%; height: 0;">' +
            //                     `<iframe src="https://www.youtube.com/embed/${id}" ` +
            //                     'style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" frameborder="0" allowfullscreen allow="autoplay">' +
            //                     '</iframe>' +
            //                     '</div>'
            //                 );
            //             },
            //         },
            //     ],
            // },
        }).then(editor => {
            window.editor = editor;
            // $('style').append('.ck-content { height: 480px !important; }');
        }).catch(error => {
                console.error(error);
        });
    </script>
    <div class="text-right">
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>