<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<h3 style="text-align: center">게시글 등록</h3>
<br/>
<div class="col-md-9 mx-auto">
    <form enctype="multipart/form-data">
        <label for="postType">게시판</label>
        <select name="postType" id="postType">
            <option value="notice">공지사항</option>
            <option value="free">자유게시판</option>
            <option value="qna">Q&A</option>
        </select>
        <label for="content">제목</label>
        <div style="display: flex;" class="form-group">
            <input style="width: 80%" type="text" class="form-control" id="title" placeholder="제목을 입력하세요" th:value="${title}">
            <input style="width: 20%; margin-left: 10px;" type="text" class="form-control" id="author" th:value="${user.getName()}" readonly>
        </div>
        <label for="content">내용</label>
        <div class="form-group">
            <textarea class="form-control h-75" id="content" placeholder="내용을 입력하세요" th:text="${content}"></textarea>
        </div>
        <div class="form-floating mb-3">
            <label>이미지 업로드</label>
            <input type="file" name="files" accept="image/*,.txt" class="form-control" id="files" multiple>
        </div>
    </form>
    <div class="text-right">
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>