<th:block th:replace="~{fragments/header :: headerFragment}" xmlns:th="http://www.w3.org/1999/html"></th:block>
<br/>

<div class="col-md-9 mx-auto">
    <form>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:text="'전체'" th:href="@{'/'}"></a>
                    </li>
                    <th:block th:each="postType : ${postTypes}" >
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${postType.key.toUpperCase() == post.postType.toString()} ? 'active' : ''"
                               th:text="${postType.title}"
                               th:value="${postType}"
                               th:href="@{/(postType= ${postType})}"></a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </nav>

        <div class="form-group">
            <div style="display: flex;">
                <input type="hidden" th:id="'id'" th:value="${post.id}">
                <input type="hidden" th:id="'postUserId'" th:value="${post.userId}">
                <input style="width: 80%" type="text" class="form-control" id="title" th:value="${post.title}" readonly>
                <input style="width: 20%" type="text" class="form-control" id="modifiedDate" th:value="${post.modifiedDate}" readonly>
            </div>
            <div style="display: flex;">
                <input style="width: 70%" type="text" class="form-control" id="author" th:value="${post.author}" readonly>
                <input style="width: 10%" type="text" class="form-control" id="view" th:value="'조회수 ' + ${post.view}" readonly>
                <input style="width: 10%" type="text" class="form-control" id="recommend" th:value="'추천수 ' + ${post.recommendUp}" readonly>
                <input style="width: 10%" type="text" class="form-control" id="commentSize" th:value="'댓글' + ${post.commentSize} + ' 개'" readonly>
            </div>
        </div>
        <div class="form-group">
<!--            <label for="content">내용</label>-->
            <div id="content" th:utext="${post.content}"></div>
        </div>
        <div class="form-group">
            <label for="content" th:text="'조회수 : ' + ${post.view}"></label>
        </div>
        <div class="text-center">
            <button type="button"
                    th:if="${user != null}"
                    th:onclick="'main.recommend(' + ${post.id} + ',' + ${post.userId} + ', null, ' + ${user.id} + ', null, 0)'"
                    class="badge bi bi-x-square">추천
            </button>
            <button type="button"
                    th:unless="${user != null}"
                    th:onclick="'main.redirectToLoginPage()'"
            class="badge bi bi-x-square">추천
            </button>
            <span id="recommendUpCount" th:text="${post.recommendUp}"></span>
            <span id="recommendDownCount" th:text="${post.recommendDown}"></span>
            <button type="button"
                    th:if="${user != null}"
                    th:onclick="'main.recommend(' + ${post.id} + ',' + ${post.userId} + ', null, ' + ${user.id} + ', null, 1)'"
                    class="badge bi bi-x-square">비추천
            </button>
            <button type="button"
                    th:unless="${user != null}"
                    th:onclick="'main.redirectToLoginPage()'"
            class="badge bi bi-x-square">비추천
            </button>
        </div>
    </form>
    <div class="text-right">
        <a href="/" role="button" class="btn btn-secondary">목록으로</a>
        <th:block th:if="${author}">
            <a th:href="@{'/post/update/' + ${post.id}}" role="button" class="btn btn-primary">수정하기</a>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </th:block>
    </div>
    <br/>
    <br/>
    <!-- 댓글 부분 -->
    <th:block th:if="${comments != null}">
        <div class="card">
            <!-- 댓글 개수 -->
            <div class="card-header bi bi-chat-dots">
                <span th:if="${comments.size() > 0}" th:text="'댓글 ' + ${comments.size() + '개'}"></span>
                <span th:unless="${comments.size() > 0}">댓글 0개</span>
            </div>

            <!-- 댓글 리스트 -->
            <ul class="list-group-flush">
                <!-- 각각의 댓글 항목 -->
                <li th:each="comment : ${comments}"
                    th:id="'comments-' + ${comment.id}"
                    class="list-group-item"
                    th:style="${comment.level > 0} ? |padding-left: ${comment.level * 50}px;| : ''">


                <div>
                        <span th:if="${comment.level > 0}" class="bi bi-reply" style="font-size: 1.2em;"></span>
                        <input type="hidden" th:id="'commentId'" th:value="${comment.id}">
                        <span style="font-size: small" th:text="${comment.author}"></span>
                        <span style="font-size: xx-small" th:text="${comment.createdDate}"></span>
                        <th:block th:if="${user != null && comment.userId == user.getId()}">
                            <!-- 댓글 수정 버튼 -->
                            <button type="button" style="font-size: small"
                                    th:data-target="'#multiCollapse-' + ${comment.id} + '-edit'"
                                    aria-expanded="false" class="badge bi bi-pencil-square"
                                    onclick="toggleForm(this)">수정</button>
                            <!-- 댓글 삭제 버튼 -->
                            <button style="font-size: small" th:onclick="'main.commentDelete(' + ${comment.postId} + ',' + ${comment.id} + ')'" class="badge bi bi-x-square">삭제</button>
                        </th:block>
                        <th:block th:if="${user != null}">
                            <!-- 대댓글 작성 버튼 -->
                            <button type="button" style="font-size: small"
                                    th:data-target="'#multiCollapse-' + ${comment.id} + '-reply'"
                                    class="badge bi bi-pencil-square"
                                    onclick="toggleForm(this)">답글</button>
                        </th:block>
                        <div class="text-right">
                            <button type="button"
                                    th:if="${user != null}"
                                    th:onclick="'main.recommend(' + ${comment.postId} + ',' + ${post.userId} + ',' + ${comment.id} + ',' + ${user.id} + ',' + ${comment.userId} + ', 0)'"
                                    class="badge bi bi-x-square">추천
                            </button>
                            <button type="button"
                                    th:unless="${user != null}"
                                    th:onclick="'main.redirectToLoginPage()'"
                                    class="badge bi bi-x-square">추천
                            </button>
                            <span th:id="'commentRecommendUpCount_' + ${comment.id}" th:text="${comment.recommendUp}"></span>
                            <button type="button"
                                    th:if="${user != null}"
                                    th:onclick="'main.recommend(' + ${comment.postId} + ',' + ${post.userId} + ',' + ${comment.id} + ',' + ${user.id} + ',' + ${comment.userId} + ', 1)'"
                                    class="badge bi bi-x-square">비추천
                            </button>
                            <button type="button"
                                    th:unless="${user != null}"
                                    th:onclick="'main.redirectToLoginPage()'"
                                    class="badge bi bi-x-square">비추천
                            </button>
                            <span th:id="'commentRecommendDownCount_' + ${comment.id}" th:text="${comment.recommendDown}"></span>
                        </div>
                    </div>

                    <!-- 댓글 내용 -->
                    <p th:class="'multiCollapse-' + ${comment.id} + '-edit'" th:text="${comment.comment}"></p>

                    <!-- 댓글 수정 폼 -->
                    <div class="collapse comment-form" th:id="'multiCollapse-' + ${comment.id} + '-edit'">
                        <form method="post">
                            <input type="hidden" th:id="'id'" th:value="${comment.id}">
                            <input type="hidden" th:id="'postId'" th:value="${comment.postId}">
                            <div class="row">
                                <div class="form-group col-10">
                                    <textarea class="form-control" th:id="'comment-content'" rows="3" th:text="${comment.comment}"></textarea>
                                </div>
                                <div class="col-2">
                                    <button type="button" th:id="'btn-comment-update'" class="btn btn-primary">수정</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- 대댓글 작성폼-->
                    <div class="collapse comment-form" th:id="'multiCollapse-' + ${comment.id} + '-reply'">
                        <form method="post">
                            <input type="hidden" th:id="'id'" th:value="${comment.id}">
                            <input type="hidden" th:id="'postId'" th:value="${comment.postId}">
                            <input type="hidden" th:id="'parentId'" th:value="${comment.parentId}">
                            <input type="hidden" th:id="'hasParent'" th:value="1">
                            <input type="hidden" th:id="'userId'" th:value="${comment.userId}">
                            <input type="hidden" th:id="'groupNo'" th:value="${comment.groupNo}">
                            <input type="hidden" th:id="'depthNo'" th:value="${comment.depthNo}">
                            <input type="hidden" th:id="'level'" th:value="${comment.level}">
                            <div class="row">
                                <div class="form-group col-10">
                                    <textarea th:id="'reply'" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>
                                </div>
                                <div class="col-2">
                                    <button type="button" th:id="'btn-reply-save'" class="btn btn-primary">등록</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
    </th:block>
    <!-- comments가 비어있을 때 표시할 내용 -->
    <th:block th:unless="${comments != null}">
        <li class="list-group-item">댓글이 없습니다.</li>
    </th:block>
    <div class="card">
        <div class="card-header bi bi-chat-right-dots">댓글 쓰기</div>

    <!-- 댓글작성 부분 -->
    <form>
        <input type="hidden" th:id="'postId'" th:value="${post.id}">
<!--        <input type="hidden" th:id="'parentId'" th:value="null">-->
<!--        <input type="hidden" th:id="'hasParent2'" th:value="0">-->
        <div class="card-body" th:if="${user}">
            <div class="row">
                <div class="col-10">
                    <textarea id="comment" class="form-control" rows="3" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="col-2 ">
                    <button type="button" id="btn-comment-save" class="btn btn-primary btn"> 등록</button>
                </div>
            </div>
        </div>

        <div class="card-body" style="font-size: small" th:unless="${user}">
            <a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.
        </div>
    </form>

    </div>
</div>

<script>
    function toggleForm(button) {
        console.log("토글 폼 작동")
        let targetId = button.getAttribute("data-target"); // 대상 폼 ID 가져오기
        let target = document.querySelector(targetId); // 폼 요소 찾기

        // 모든 폼을 닫기
        document.querySelectorAll(".comment-form").forEach(form => {
            if (form !== target) {
                form.style.display = "none";
            }
        });

        // 클릭한 폼을 토글
        if (target.style.display === "none" || target.style.display === "") {
            target.style.display = "block";
        } else {
            target.style.display = "none";
        }
    }
</script>

<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
